extends layout
block content
  link(rel='stylesheet', href='/css/sign.css')
  script(src='/js/base.js')
  a.closeBtn(href='/') X
  h1.margin-bottom-15 发送确认码确认
  form.form-horizontal.templatemo-container.templatemo-login-form-1.margin-bottom-30(role='form',action='/reset-mobile-password/'+phone,method='post')
    .form-group
      if (error)
        .alert.alert-danger
          a.close(data-dismiss='alert' href='#') &times;
          strong= error
          if (action)
            a(href='action') 前往
      .form-group
        .col-md-12.control-wrapper
          label.pull-left
            span 请输入您手机 
            span=phone
            span 上收到的确认码，填写正确以后可以设置新的登录密码。
      .row.form-group
        .col-xs-12.col-sm-4.control-wrapper
          font(color="red")='* '
          label(for='sms') 手机确认码
        .col-xs-12.col-sm-8.control-wrapper
          input#sms.form-control(type='text', name='sms', placeholder='手机确认码', required)
      .row.form-group
        .col-xs-12.col-sm-4.control-wrapper
          label.control-label(for='password') 请输入新密码
        .col-xs-12.col-sm-8.control-wrapper
          input#password.form-control(type='text', name='password', placeholder='密码', required)
      .row.form-group
        .col-md-12
          .control-wrapper
            input.btn.btn-info.pull-left(type='submit', value='密码重置')
            a.text-right.pull-right(href='/signin') 返回登陆
      //- hr
      //- .form-group
      //-   .col-md-12
      //-     label 或者使用以下账户直接登录：
      //-     .inline-block
      //-       a(href='#')='微信'
      //-         i.fa.fa-weixin.login-with
      //-       a(href='#')='QQ'
      //-         i.fa.fa-qq.login-with
      //-       a(href='#')='新浪微博'
      //-         i.fa.fa-weibo.login-with
    .text-center
      span 还没有IT合伙人账号?
      a.templatemo-create-new(href= '/signup')  立即注册一个账号
        i.fa.fa-arrow-circle-o-right