extends layout
block content
  link(rel='stylesheet', href='/css/sign.css')
  script(src='/js/base.js')
  a.closeBtn(href='/') X
  h1.margin-bottom-15 重置密码
  form.form-horizontal.templatemo-container.templatemo-login-form-1.margin-bottom-30(role='form',action='/reset-password',method='post')
    .form-group
      if (error)
        .alert.alert-danger
          a.close(data-dismiss='alert' href='#') &times;
          strong= error
      .form-group
        .col-md-12.control-wrapper
          label.pull-left
            span 请输入以下资料中的一项
      .row.form-group
        .col-xs-12.col-sm-12
          include ./mixin/form.jade
          +radio_input('registry', 'phone', '', '', '手机号码')
      .row.form-group
        .col-xs-12.col-sm-12
          +radio_input('registry', 'email', '', '', '电子邮箱')
      //- .form-group
      //-   .col-xs-12
      //-     .control-wrapper
      //-       label.control-label.fa-label(for='username')
      //-         i.fa.fa-user.fa-medium
      //-       input#username.form-control(type='email', name='username', placeholder='请输入登录邮箱地址')
      .form-group
        .col-md-12.control-wrapper
          label.pull-left
            span 请输入图形中验证码
      .form-group
        .col-md-7.control-wrapper
          input#captcha.form-control(type='captcha', name='captcha', placeholder='请输入图形中验证码', value= captcha)
        .col-md-5.control-wrapper
          img.captcha(src='/getCaptcha', onclick="this.src='/getCaptcha'")
          a.reflash(href='javascript:;')
      .row.form-group
        .col-md-12
          .control-wrapper
            input.btn.btn-info.pull-left(type='submit', value='重置密码')
            a.text-right.pull-right(href='/signin') 返回登陆
      //- hr
      //- .form-group
      //-   .col-md-12
      //-     label 或者使用以下账户直接登录：
      //-     .inline-block
      //-       a(href='#')='微信'
      //-         i.fa.fa-weixin.login-with
      //-       a(href='#')='QQ'
      //-         i.fa.fa-qq.login-with
      //-       a(href='#')='新浪微博'
      //-         i.fa.fa-weibo.login-with
    .text-center
      span 还没有IT合伙人账号?
      a.templatemo-create-new(href= '/signup')  立即注册一个账号
        i.fa.fa-arrow-circle-o-right