doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    -var t = title ? title : 'IT合伙人'
    title= t
    block link
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/freelancer.css')
      link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css',type='text/css')
      link(rel='stylesheet', href='/stylesheets/templatemo_style.css')
      link(rel='stylesheet', href='/css/layout.css')
      link(rel='stylesheet', href='/css/radiocheck.min.css')
      link(rel='stylesheet', href='/stylesheets/pnotify.custom.min.css')
      link(href='images/favicon.ico', type='image/png', rel='icon')
      //- link(rel='stylesheet', href='/stylesheets/fileinput.min.css', media='all', type='text/css')
    block script
      script(src='/javascripts/jquery.js')
      script(type='text/javascript',src='/javascripts/jquery.validate.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/pnotify.custom.min.js')
      script(src='/javascripts/socket.io.js')
      //- script(src='/javascripts/bootstrapValidator.min.js')
      //- script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
      //- script(src='javascripts/classie.js')
      //- script(src='javascripts/cbpAnimatedHeader.js')
      //- script(src='javascripts/jqBootstrapValidation.js')
      //- script(src='javascripts/contact_me.js')
      //- script(src='javascripts/user/newProject.js')
      //- script(src='javascripts/freelancer.js')
      //- script(src='javascripts/fileinput.min.js')
  body
    .navigationCtn
      block navbar
      #global_notify_ctn
      #socket
      script(src='/js/global_notification.js')
    .contentCtn
      block content
      block footer
