link(rel='stylesheet', href='/css/search.css')
.searchCtn.row
  .col-md-10.col-sm-12
    form(action="/search" type="get")
      .col-md-2.col-md-offset-4.col-xs-3.form-control-ctn
        select.form-control(name="type")
          include ./mixin/form.jade
          -var selected = searchType ? searchType : 'recruitment'
          +option("recruitment", selected,'合伙需求')
          +option("project", selected,'创业项目')
          //- +option("question", selected,'问答')
      .col-md-4.col-xs-7.form-control-ctn
        input.form-control(type="text" name="key")
      .col-md-2.col-xs-2.form-control-ctn
        button.btn.btn-default(type="submit") 搜索
  .col-md-2.col-xs-12(style="padding-top: 10px; text-align: center")
    a.button.btn.btn-warning(href='/home') 成为候选合伙人