extends user_home_base
block append script
  script(src='/js/user_home_setting_password.js')
  link(rel='stylesheet', href='/css/user_home_profile.css')
block user_home_content
  .panel
    .panel-heading.c-insetC-header
      span 设置 /
      span 密码
    .panel-body
      form#settingPasswordForm.form-horizontal
        .form-group
          .col-md-2
            font(color="red")='* '
            label.control-label(for='current_pwd') 旧密码
          .col-md-5
            input#current_pwd.form-control(type='password', name='current_pwd', placeholder='当前密码', required)
        .form-group
          .col-md-2
            font(color="red")='* '
            label.control-label(for='new_pwd') 新密码
          .col-md-5
            input#new_pwd.form-control(type='password', name='new_pwd', placeholder='至少8个字符',required)
        .form-group
          .col-md-2
            font(color="red")='* '
            label.control-label(for='new_pwd_verify') 确认新密码
          .col-md-5
            input(type="password" style="display:none")
            input#new_pwd_verify.form-control(type='password', name='new_pwd_verify', placeholder='与新密码一致',required)
        .form-group
          .col-sm-offset-2.col-sm-10
            input#savePasswordBtn.btn.btn-info(type='submit' value='保存新密码' data-loading-text='正在保存...')