.closeBtn {
  position: absolute;
  right: 20px;
  font-size: 40px;
  color: black;
}

.closeBtn:hover,
.closeBtn:focus,
.closeBtn:active {
  text-decoration: none;
}
#detailForm .tag-editor {
  	margin-left: 10px;
  	border: 2px solid #dce4ec;
  	padding: 10px 15px;
  	font-size: 15px;
}
#projectStage {
  width: 100%;
}
@media(min-width:768px) {
	#projectRequiredSkills+.tag-editor{
  	width: 50%;
	}
}
@media(max-width:767px) {
	#projectRequiredSkills+.tag-editor{
  	width: 100%;
	}
}
.modal {
	overflow-x: hidden;
	overflow-y: auto;

}
@media (min-width: 768px){
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
}
@media (min-width: 992px){
	.modal-lg {
		width: 900px;
	}
}

.project-logo-upload .modal-body{
	/*height: auto;*/
	padding: 15px 20px;
}
/*#show_pic_p {*/
	/*width: auto;*/
	/*height: auto;*/
/*}*/
.jcrop-holder {
	margin: auto;
}
#uploadButton{
	display: inline-block;/*
  margin-left: 2rem;*/
}
#files {
	display: none !important;
}