.list-show .media-body{
	cursor: pointer;
}
/*.list-show .media-body a {
  font-size: 16px;
}*/
.list-show .portfolio-item{
	padding: 13px;
  	line-height: 25px;
  	position: relative;
    overflow: auto;
}
.list-show li{
	list-style: none;
}
.list-show li:nth-of-type(odd){ background: rgba(240, 240, 240, 0.74);}
//#recruitments li:nth-of-type(even){ background: #ffcc00;}
.picow .state {
  border: 1px solid #666;
  color: #666;
  padding: 7px 0;
  text-align: center;
  font-size: 14px;
  width: 95px;
  margin-top: 14px;
  border-radius: 2px;
}
.insvestemt p {
  min-height: 60px;
  max-height: 60px;
  padding: 25px 15px 90px 15px;
  line-height: 24px;
  border-bottom: solid 1px #DDDDDD;
}

.list-show li {
  background-color: #fff;
  border: solid 1px #e5e6e6;
  box-shadow: 0px 3px 5px #d2d6da;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  /*min-height: 400px;*/
  color: #666;
  margin-bottom: 20px;
  position: relative;
}
.fix-height {
	/*min-height: 400px;*/
  height: 400px;
}
.jiathis_style .jiadiv_01 .link_01{
  display: none;
}