@media(min-width:768px) {
.searchCtn {
  padding: 10px;
  margin-left: 33px;
  margin-top: 9px;

}
}
.searchCtn.row .form-control-ctn{
  padding: 0 !important;
}
.searchCtn.row .form-control-ctn input{
  border: 2px solid #3498db;
  border-left:0;
}
.searchCtn.row .form-control-ctn select{
  border: 2px solid #3498db;
  border-right: 0px;
  border-radius: 0px;
  /*-webkit-appearance: none;*/
  -webkit-border-radius: 0px;
  border: 0;
	outline: 2px solid #3498db;
	/* background-color: white; */
	outline-offset: -2px;
}

.searchCtn.row .form-control-ctn:last-child{
  /*padding-left: 2px !important;*/
}