.padding-19{
	padding: 19px;
}
.siderNav {
	font: 14px/22px Arial,"Hiragino Sans GB","微软雅黑","宋体";
  	color: #333;
  	word-wrap: break-word;
  	background: #fafafa;
  	//width: 230px;
}
@media(min-width:768px) {
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
      color: #999;
      background-color: #fff;
      border-bottom: 4px solid #3498db;
  }
}
@media(max-width:767px) {
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
      color: #333;
      background-color: #e9eaec;
      /*border-bottom: 4px solid #3498db;*/
  }
}
.siderNav .menu_main {
  //width: 206px;
  padding: 6px 12px;
  border: 2px solid #fafafa;
  border-right: none;
  overflow: hidden;
  position: relative;
}
.siderNav .menu_main.active {
  border: 2px solid #c9cbce;
}
 .sideNav .menu_main p {
    color: #333;
    font-size: 18px;
    padding-left: 0px;
    font-weight: 500;
    text-align: left;
  }
 .siderNav .menu_main p span {
  width: 13px;
  height: 14px;
  background: url(../images/arr.png) 0 0 no-repeat;
  float: right;
  margin-top: 3px;
}

.siderNav .menu_main a {
  color: #555;
  font-size: 13px;
  float: left;
  white-space: nowrap;
  margin: 0 5px 5px 0;
  /*padding: 0 9px;*/
}
.siderNav .menu_sub {
  //width: 540px;
  padding: 15px 30px 5px 30px;
  position: absolute;
  top: 0;
  left: 217px;
  z-index: 101;
  border: 2px solid #c9cbce;
  background: #fff;
}
#projects .siderNav .menu_sub {
  //width: 540px;
  padding: 15px 30px 5px 30px;
  position: absolute;
  top: 0;
  left: 215px;
  z-index: 101;
  border: 2px solid #c9cbce;
  background: #fff;
}
.dn {
  display: none;
}
.menu_sub dt {
  width: 70px;
  font-size: 14px;
  margin: 0;
  text-align: right;
  position: absolute;
}
.siderNav .menu_sub dt a {
  padding: 0;
  line-height: 28px;
  text-decoration: underline;
}
.siderNav .menu_sub dl {
  margin: 0 0 20px;
}
.siderNav .menu_sub dd {
  margin-left: 100px;
  overflow: hidden;
}
.siderNav .menu_sub dd a {
  white-space: nowrap;
  padding: 0 10px;
  background: url(../images/arr.png) -29px center no-repeat;
  color: #777;
  line-height: 28px;
  margin-left: -1px;
  text-decoration: underline;
}

.siderNav .menu_sub dt cls {
  padding: 0;
  line-height: 28px;
  text-decoration: none;
  outline: 0;
  color:rgba(52,152,219,1);
}
