.experience {
  padding: 10px;
  background-color: #f5f5f5;
}
.experience:hover {
  background-color: #f5f5f5;
}
.experiences table{
  width: 100%;
}
i.fa:hover {
  cursor: pointer;
}
.closeBtn {
  position: absolute;
  right: 20px;
  font-size: 40px;
  color: black;
}
#userProfileForm .tag-editor {
	/*width: 50%;
  	margin-left: 10px;*/
  	border: 2px solid #dce4ec;
  	padding: 10px 15px;
  	font-size: 15px;
}

.profile_checkbox {
  width: 42px;
  height: 42px;
  color: #777;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
  border: 2px solid #f1f1f1;
  background: #fff;
  float: left;
  margin-right: 20px;
  position: relative;
}
input.radiocheck:checked+label.full {
  background: #23b7e5;
  border-radius: 3px;
  color: #fff;
}
input.radiocheck+label.full {
  background: #ccc;
  border-radius: 3px;
  color: #fff;
}
input.radiocheck:checked+label.full:after, input.radiocheck:checked+label.full:before {
  color: #fff;
  background: #23b7e5;
}
input.radiocheck+label.full:after, input.radiocheck+label.full:before {
  color: #fff;
  background: #ccc;
}
.dashline {
    border-bottom: 1px dashed #e0e0e0;
    margin:15px -15px 15px 100px;
}

.user-logo-upload .modal-dialog{
  width: 40rem;
}
.user-logo-upload .modal-body{
  height: 43rem;
}
#show_pic {
  width: 400px;
  height: 400px;
}

#uploadButton{
  display: inline-block;
  margin-left: 2rem;
}